@tailwind base;
@tailwind components;
@tailwind utilities;

html::-webkit-scrollbar {
  display: none;
}

html, body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

.text-outline {
  text-shadow: -1px -1px 0 #4A7582, 1px -1px 0 #4A7582, -1px 1px 0 #4A7582, 1px 1px 0 #4A7582;
}